{% extends "base.html" %}
{% block main %}
<h1 class="page-header">Howdy, {{ full_name }}!</h1>
{% if user_has_tasks %}
<table class="table table-striped">
    <thead><th>Permission Type</th><th>Purpose</th></thead>
    <tfoot>
    {%for task in tasks %}
    
    <tr>
        {% if task.user_name == full_name %}
            <td>{{ task.template_id }}</td>
            <td>{{ task.purpose}}</td>
            <!-- <td>status</td> -->
            <!-- <td><a href to the form read-only></a></td> -->
        {% endif %}
    {%endfor %}
    </tr></tfoot>  
</table>
{%else %}
    <p>You have no previous permissions.</p>
    <p>For booking a new permission, click on 'New Permission' to the left.</p>
{%endif %}

{% endblock %}
