<!-- Shows pending Permission -->
{% extends "base.html" %}
{% block pending-permissions %} class="active" {% endblock %}
{% block main %}
<h1 class="page-header">Howdy, {{ full_name.username }}!</h1>
<table class="table table-striped">
	
    {%for task in tasks %}
    <tr>
      {% for group in groups %}
    	{% if task.current_group == group %}
        	<td>{{ task.purpose }}</td>
        	<td>{{ task.user_name}}</td>
          <td>{{task.status}}</td>
          <td><a href="/Permission/{{ task.id }}/">{{ task.purpose }}</a></td>
     	{% endif %}
    {%endfor %}
    {%endfor %}
  	</tr>  
</table>
<p><b>You have no more pending previous permissions.</b></p>

{% endblock %}
