<!-- Shows pending Permission -->
{% extends "base.html" %}
{% block pending-permissions %} class="active" {% endblock %}
{% block main %}
<h1 class="page-header">Pending Permissions</h1>
<table class="table table-striped" id="myTable">
{% if pendingTasks %}
    <p>List of permissions awaiting your response</p>
    <thead>
        <th>Applicant</th>
        <th>Date of Application</th>
        <th>Permission Type</th>
        <th>Subject</th>
        <th>Urgency</th>
    </thead>
    <tbody>
    {%for task in pendingTasks %}
                <tr>
                    <td>{{ task.applicant}}</td>
                    <td>{{task.date_of_application}}</td>
                    <td>{{ task.permission_type}}</td>
                    <td><a href="/Permission/{{ task.id }}/user">{{ task.subject }}</a></td>
                    <td>{{ task.urgency }}</td>
                </tr>  
    {%endfor %}
    </tbody>
{% else %}
</table>
<p>You have no more pending previous permissions.</p>

{% endif %}
{% endblock %}

