{% extends "base.html" %}

{% block main %}
<h2 class="sub-header">Your Permission has been recorded</h2>
<p> You will be notified when the admins approve or disapprove your request.</p>
    <table style="width:100%;vertical-align:middle;">
        {{form}}
    </table>
    <hr>
    <form>
        <table style="width:100%">
        <tr>
        <td><button type="submit">ACCEPTED</button></td>
        <td><button type="submit">DENIED</button></td>
        </table>
    </form>
    <hr>
<p><a href="/Permission/home">Home</a></p>
<p><a href="/Permission/logout/">Logout</a></p>

{% endblock %}