<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Permission Portal</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href= "{% static 'Permission/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href= "{% static 'Permission/css/simple-sidebar.css' %}" rel="stylesheet" type="text/css">

    <!--link href="{% static 'Permission/dashboard.css' %}" rel="stylesheet" type="text/css"-->

    <script src="{% static 'Permission/js/ie-emulation-modes-warning.js' %}"></script>

  </head>

  <body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">Permission Portal</li>
                <li {% block home %}{% endblock %}>
                <a href="/Permission/home/">Home</a>
            </li>
            <li {% block new-permission %}{% endblock %}>
                <a href="/Permission/new-permission/">New Permission</a>
            </li>

            {% if user.is_staff %}

            <li {% block pending-permissions %}{% endblock %}>
                <a href="/Permission/pending-permissions/">Pending Permissions</a>
            </li>
            <li {% block permissions-done %}{% endblock %}>
                <a href="/Permission/permissions-done/">Permissions Done</a>
            </li>
            <li {% block new-template %}{% endblock %}>
                <a href="/Permission/new-template/">New Template</a>
            </li>
            <li {% block existing-template %}{% endblock %}>
                <a href="/Permission/existing-template/">Existing Template</a>
            </li>

            {% endif %}
            <li><a href="/Permission/logout/">Logout</a></li>
            </ul>
        </div>


        <div id="page-content-wrapper">
            <a class="navbar-toggle" href="#menu-toggle" id="menu-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div id="brand-toggle">Permission Portal</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'Permission/js/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'Permission/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Permission/js/docs.min.js' %}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>
